

/*--------------------------------------
# 2.0 left-block style start here
----------------------------------------*/
 
.rocket-block {
	text-align:center;
	padding: 0px 40px 0;
}
.rocket-block img {
	margin-top: 15px;
	margin-bottom: 15px;
}
.rocket-block .img-thumbnail {
	background:#fff;
}





/*--------------------------------------
# 3.0  Right-block style start here
----------------------------------------*/

.right-block {
	 background: #f8faeb;
}
.contact-block {
	text-align: center;
	padding: 0px 40px;
}
.contact-block h2 {
	color: #3a3a3a;
	margin-bottom: 70px;
	text-transform: inherit;
}
.contact-block .para {
	margin-bottom: 70px;
}
.contact-block .para span {
	font-weight: bold;
	color: #1b727b;
}

}
/*--------------------------------------
# - 3.1 Countdown section style start here
----------------------------------------*/

.timing {
	margin-top: 30px;
}
.time_circles > div > h4 {
	color: #fff;
}
.time_circles > div > span {
	color: #fff;
}
